
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

header h1 {
  font-size: 24px;
  font-weight: bold;
}

header span {
  color: #007BFF;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.profile-section {
  display: flex;
  gap: 20px;
}

.profile-card {
  background-color: #e0e4ff;
  padding: 20px;
  border-radius: 30px;
  text-align: center;
  width: 800px;
  height:300px;
  margin-right: 2rem;
}

.profile-card .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile-card h2 {
  font-size: 18px;
  font-weight: bold;
}

.profile-card p {
  margin: 10px 0;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

social-icons img {
  width: 24px;
  height: 24px;
}

.intro {
  flex-grow: 1;
}

.intro h2 {
  font-size: 60px;
  color: #4151be;
}

.intro p {
  margin: 10px 0;
  font-size: 1rem;
}

.buttons {
  margin: 20px 0;
}

.buttons .btn {
  text-decoration: none;
  background-color: #575bd1;
  color: #fff;
  padding: 10px 20px;
  border-radius: 15px;
  margin-right: 10px;
}

.description {
  font-size: 12px;
  color: #65366e;
}

.footer {
  background-color: #7c3fd2;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin-top: 5rem;
}

.footer-contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.footer-contact{
  display: flex;
  gap: 20px;
}

.footer-contact a{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.footer-contact a:hover{
  text-decoration: underline;
}

.contact-info p {
  margin: 5px 0;
}
