


/*nav section*/
.header{
    display: flex;
    justify-content: space-between;
    align-items:center;
margin-left: 50rem;
margin-top: -4rem;

}
.container{
padding-left: 1.5rem;
padding-right: 1.5rem;
margin-left: auto;
margin-right:auto;
}
.nav{
    

}
.nav_wrappe{
   

}
.menue-list{
    display: flex;;
    gap: 2rem;

}
.menue-list_item{
    font-family:"Outfit-regular";
    font-size: 13px;
}
.nav{
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    

}            
.header-content_title {
    color: blue;
    margin-left: 10rem;
    padding-top: 10rem;
    text-align: center;
    font-size: 2rem;
    max-width: 40rem;
    margin: 1rem;
   

}

.header-content_caption {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 15rem;
    padding-top:17rem ;
    font: size 1rem;;
    margin: auto;
    


}

btn {
    text-decoration: none;
    padding: 1.5rem 4.7rem;
    border-radius: 3.5rem;
}
